@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../fonts/fonts.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.App {
  /* text-align: center; */
  font-family: Proxima;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: #ffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
